<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="unifar.unifar.qandamaker">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/releseicon1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailQuizActivity"
            android:label="@string/title_activity_detail_quiz"
            android:theme="@style/AppTheme"
            android:parentActivityName="unifar.unifar.qandamaker.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
              android:value="unifar.unifar.qandamaker.MainActivity" />
        </activity>
        <activity android:name=".FlashActivity"
            android:parentActivityName="unifar.unifar.qandamaker.MainActivity"
            android:theme="@style/AppTheme"

            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="unifar.unifar.qandamaker.MainActivity" />
        </activity>
        <activity android:name=".ExamActivity"
            android:parentActivityName="unifar.unifar.qandamaker.MainActivity"
            android:theme="@style/AppTheme"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="unifar.unifar.qandamaker.MainActivity" />
        </activity>
    </application>

</manifest>